<a href="https://colab.research.google.com/github/sophiejjam/ISOM/blob/master/TestYourKnowledge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import os
!wget http://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data

--2021-02-23 01:25:11--  http://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 3974305 (3.8M) [application/x-httpd-php]
Saving to: ‘adult.data’

adult.data          100%[===================>]   3.79M  9.20MB/s    in 0.4s

2021-02-23 01:25:11 (9.20 MB/s) - ‘adult.data’ saved [3974305/3974305]

In [3]:
!wc -l adult.data

32562 adult.data

In [4]:
!head -n 2 adult.data

39, State-gov, 77516, Bachelors, 13, Never-married, Adm-clerical, Not-in-family, White, Male, 2174, 0, 40, United-States, <=50K
50, Self-emp-not-inc, 83311, Bachelors, 13, Married-civ-spouse, Exec-managerial, Husband, White, Male, 0, 0, 13, United-States, <=50K

In [5]:
! echo "age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,native-country,class" > header.csv

In [6]:
! cat header.csv adult.data > adult.csv
! head -n 1 adult.csv

age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,native-country,class

In [7]:
! head -n 120 adult.csv | tail -n 20 > adult_sample.csv
! head -n <total_lines> <source_file> | tail -n <number_of_lines> > <target_file>
! cat adult_sample.csv header.csv > adult_sample_with_header.csv

/bin/bash: -c: line 0: syntax error near unexpected token `<'
/bin/bash: -c: line 0: ` head -n <total_lines> <source_file> | tail -n <number_of_lines> > <target_file>'

In [8]:
! head -n 2 adult_sample_with_header.csv

32, Federal-gov, 249409, HS-grad, 9, Never-married, Other-service, Own-child, Black, Male, 0, 0, 40, United-States, <=50K
76, Private, 124191, Masters, 14, Married-civ-spouse, Exec-managerial, Husband, White, Male, 0, 0, 40, United-States, >50K